In [ ]:
# Uncomment the following lines to install the required packages
# !pip install pandasql
# !pip install pandas
# !pip install pyyaml
import sqlite3
import pandas as pd
import yaml

Collecting pyyaml
  Downloading PyYAML-6.0.2-cp313-cp313-macosx_11_0_arm64.whl.metadata (2.1 kB)
Downloading PyYAML-6.0.2-cp313-cp313-macosx_11_0_arm64.whl (171 kB)
Installing collected packages: pyyaml
Successfully installed pyyaml-6.0.2

In [23]:
conn = sqlite3.connect("data/AmItheAsshole.sqlite")

In [24]:
cursor = conn.cursor()

In [25]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print(tables)

[('submission',), ('comment',)]

In [26]:
sub_df = pd.read_sql_query("SELECT * FROM submission", conn)
print(sub_df.head())

   id submission_id                                              title  \
0   1        xt1ksm            AITA Monthly Open Forum Spooktober 2022
1   2        yiplwk  AITA for asking my friend to move a picture of...
2   3        yiv572  AITA for asking my husband to stay with me whi...
3   4        yimgaf  AITA for telling my SIL to stop talking about ...
4   5        yin7pf  AITA for wanting to meet my "daughter" after g...

                                            selftext  created_utc  \
0  #Keep things civil. Rules still apply.\n\n##Th...   1664646465
1  \n\nMe (M32) and my wife, Dahlia (F28) lost ou...   1667251988
2  Throwaway my family knows my account. I'll get...   1667266450
3  My (37M) wife (37F) is pregnant with our first...   1667245059
4  Long story short: in my (40f) twenties I had a...   1667246573

                                           permalink  score
0  /r/AmItheAsshole/comments/xt1ksm/aita_monthly_...    592
1  /r/AmItheAsshole/comments/yiplwk/aita_for_aski...  16582
2  /r/AmItheAsshole/comments/yiv572/aita_for_aski...   4079
3  /r/AmItheAsshole/comments/yimgaf/aita_for_tell...   9728
4  /r/AmItheAsshole/comments/yin7pf/aita_for_want...   6889

In [27]:
com_df = pd.read_sql_query("SELECT * FROM comment", conn)
print(com_df.head())

   id submission_id                                            message  \
0   1        xt1ksm  Do people with two digits to their age really ...
1   2        xt1ksm  Lots of posts in the last 3-4 days about rando...
2   3        xt1ksm  Sometimes I think people are making up stories...
3   4        xt1ksm  Saw it on FB but it's hilarious how threads wi...
4   5        xt1ksm  The OP: My MIL can be a bit petty sometimes\n\...

  comment_id  parent_id  created_utc  score
0    irs5v1y  t3_xt1ksm   1665421334     59
1    isdxgsq  t3_xt1ksm   1665813660     55
2    iryatl4  t3_xt1ksm   1665529128     40
3    is3i5i9  t3_xt1ksm   1665622760     33
4    ituw9ym  t3_xt1ksm   1666793880     32

In [28]:
sub_df.to_csv("data/submission.csv", index=False)
com_df.to_csv("data/comment.csv", index=False)

In [29]:
sub_dict = sub_df.to_dict(orient='records')
com_dict = com_df.to_dict(orient='records')

In [32]:
def save_to_yaml(data, filename):
    with open(filename, 'w') as file:
        yaml.dump(data, file, default_flow_style=False)

In [33]:
save_to_yaml(sub_dict, 'Data/submission.yaml')
save_to_yaml(com_dict, 'Data/comment.yaml')

In [31]:
conn.close()